.img-max {
  max-width: 120px;
  width:100%;
}

.card-list .card:hover {
    cursor: pointer;
}

.row-link {
    cursor: pointer;
}

.book-card .card-header {
    cursor: auto;
}

.book-card .card-text {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}