<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: main-fragment(
                                                ~{:: title},
                                                ~{},
                                                ~{:: #content}
                                               )}">
<head>
    <title th:text="${book.title}"></title>
</head>
<body>
<div class="container py-3">
    <div id="content">
        <div class="alert alert-danger" role="alert" th:if="${book == null}">
            Book not found
        </div>
        <div class="card my-2" th:if="${book != null}">
            <h5 class="card-header" th:text="${book.title}"></h5>
            <div class="row g-0">
                <div class="col-md-3">
                    <img th:src="@{'/uploads/' + ${book.image}}" class="img-fluid rounded-start" >
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="row card-text">
                            <div class="col-2 fw-bold">Authors:</div>
                            <div class="col-10">
                                <a th:each="author, iter: ${book.authors}"
                                   th:href="@{|/authors/${author.id}|}" class="link-dark"
                                   th:text="!${iter.last} ? ${author} + ', ': ${author}"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 fw-bold">Summary:</div>
                            <div class="col-10" th:text="${book.summary}"></div>
                        </div>
                        <div class="row">
                            <div class="col-2 fw-bold">ISBN:</div>
                            <div class="col-10" th:text="${book.ISBN}"></div>
                        </div>
                        <div class="row">
                            <div class="col-2 fw-bold">Publishing Year:</div>
                            <div class="col-10" th:text="${book.year}"></div>
                        </div>
                        <div class="row">
                            <div class="col-2 fw-bold">Pages:</div>
                            <div class="col-10" th:text="${book.pageCount}"></div>
                        </div>
                        <div class="row">
                            <div class="col-2 fw-bold">Language:</div>
                            <div class="col-10" th:text="#{${book.language}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-6">
                <button class="btn btn-secondary" type="button" onclick="history.back()">Back</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>